body {

	border: 0px;
	margin: 0px;
	background: #c9c6c6;
	padding: 0;
	
}
.cabeçalho{
    align-items: center;
    color: #fff;
    background-color: maroon;
    padding: 20px;
    height: 30px;
    border: 0px;
    display: flex;
}
.cabeçalho>p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nav-left{
    background-color: darkgrey;
    display: flex;
    width: 210px;
    height: 437px;
    display: flex;

}

.nav-link{
    text-decoration: none;
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: medium;
}

.nav-link:hover{
    color: maroon;
}

.nav-list{
    list-style: none;
}

.form-control{
    display: flex;
    margin-left: 20px;
}
.formulario{
    margin-top: -368px;
    background-color: beige;
    height: 325px;
    width: 77vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 256px;
}

.formulario>h1{
   font-size: medium;
    display: flex;
    margin-left: 170px;
}

.form-itens{
    margin-top: 55px;
    margin-right: 329px;
    
}

.table{
    margin-top: -368px;
    height: 140px;
    width: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 256px;

}

 

.th{
     border:1px solid;
}

.td{
    border: 1px solid;
}